<h1>All Questions</h1>
<% @questions.each do |question| %>
  <%= link_to(question.name, question_path(question)) %> asked by <%= link_to(question.user.name, user_path(question.user)) %> on <%= (question.created_at).strftime("%b %d '%y") %><br>
<% end %>
