<%= form_for [@commentable, @comment], remote: true do |f| %>
  <div class="comment-form">
    <%= f.label :Comment %>
    <%= f.text_area :body, placeholder: "Enter your comment..." %>
    <%= f.submit "Post Comment"%>
  </div>
<% end %>
