<%= form_for [@question, @answer], url: create_comment_question_answer_path, method: :post, remote: true do |f| %>

  <div class="comment-form">
    <%= f.label :comment %>
    <%= f.text_area :body, placeholder: "Enter your comment..." %>
    <%= f.submit "Post Comment"%>
  </div>
<% end %>
