/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.container {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #001632;
}

.main-nav ul {
 float: right;
 margin-right: 75px;
 padding: 6px 15px 10px 0px;
}

.main-nav ul li {
 list-style: none;
 color: white;
 display: inline;
 font-size: .9em;
 padding-right: 10px;
}

.main-nav ul li a {
  color: white;
}

.main-nav ul li a:hover {
  color: #659EE6;
}


.logo {
  color: white;
  font-size: .9em;
  width: 150px;
  float: left;
  margin-left: 75px;
}


span#dbc {
  color: white;
}

span#overflow {
  color: #659EE6;
}




.child_nav {
  height: 120px;
  width: 100%;
  box-shadow: 0px 0px 8px gray;
  margin-bottom: 100px;
}

.logo-larger {
  font-size: 2em;
  width: 300px;
  float: left;
  margin-left: 75px;
  clear: both;
}

.logo-larger span#dbc {
 color: #001632;
}

.child_nav ul {
  margin-top: 30px;
  float: left;
  width: 600px;
}

.child_nav ul li {
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  background-color: gray;
  display: inline;
}

.child_nav ul li:hover {
  background-color: #ff5f00;
}

.child_nav a {
  color: white !important;
}

#nav-questions {
  width: 100px;
}

#nav-tags {
  width: 100px;
}

#nav-users {
  width: 100px;
}

#nav-ask {
  width: 100px;
}


/**********************Answer/Comment*********************************/

.question_body {
  margin-bottom: 50px;
}

.asked_by {
  background-color: #deedff;
  width: 150px;
  padding: 5px 8px;
  float: right;
  margin-bottom: 10px;
}

.add_comment {
  margin-top: 5px;
}

.add_comment a {
  font-size: .8em;
}

.edit_question {
  margin-top: 5px;
}

.edit_question a {
  font-size: .8em;
}




